<!DOCTYPE html>
<html lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Connect with SoundCloud</title>
  </head>
  <body class="hey">
    <div class="popup">
      <div class="wrap">
        <div class="loading">
          <div class="bounceball"></div>
          <div class="text">loading</div>
        </div>
      </div>
        <meta http-equiv="refresh" content="3; URL='https://song-snap.herokuapp.com'" />
    </div>
  </body>
</html>
