/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*video {
  width: 307px;
  height: 250px;
  background: rgba(255,255,255,0.5);
}
.grayscale {
   -webkit-filter: grayscale(90%);
}
.sepia {
  -webkit-filter: sepia(100%);
}
.blur {
  -webkit-filter: blur(3px);
}*/

body{
  font-family: 'Raleway', 'sans-serif';
  font-weight: lighter;

  background: linear-gradient(156deg, #ff00f5, #ffc40d);
  background-size: 400% 400%;

  -webkit-animation: background-gradient 30s ease infinite;
  -moz-animation: background-gradient 30s ease infinite;
  animation: background-gradient 30s ease infinite;
}

  @-webkit-keyframes background-gradient {
      0%{background-position:99% 0%}
      50%{background-position:2% 100%}
      100%{background-position:99% 0%}
  }
  @-moz-keyframes background-gradient {
      0%{background-position:99% 0%}
      50%{background-position:2% 100%}
      100%{background-position:99% 0%}
  }
  @keyframes background-gradient {
      0%{background-position:99% 0%}
      50%{background-position:2% 100%}
      100%{background-position:99% 0%}
  }

.song-snap-title {
  position: absolute;
  width: 500px;
  font-size: 20px;
  color: white;
  letter-spacing: 8px;
  top: 100px;
  text-align: center;
  margin: 0 auto;
}
