/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */


body{
  font-family: 'Raleway', 'sans-serif';
  font-weight: 300;
  color: white;
  overflow: hidden;

  background: linear-gradient(156deg, #ff08f5, #ffc40d);
  background-size: 450% 450%;

  -webkit-animation: background-gradient 15s ease infinite;
  -moz-animation: background-gradient 15s ease infinite;
  animation: background-gradient 15s ease infinite;
}

  @-webkit-keyframes background-gradient {
      0%{background-position:99% 0%}
      50%{background-position:2% 100%}
      100%{background-position:99% 0%}
  }
  @-moz-keyframes background-gradient {
      0%{background-position:99% 0%}
      50%{background-position:2% 100%}
      100%{background-position:99% 0%}
  }
  @keyframes background-gradient {
      0%{background-position:99% 0%}
      50%{background-position:2% 100%}
      100%{background-position:99% 0%}
  }

  @-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }

.song-snap-title {
  position: absolute;
  width: 500px;
  font-size: 100px;
  color: white;
  left: 100px;
  top: 90px;
  text-align: center;
  margin: 0 auto;
}

.start-buttons {
  position: relative;
  top: 250px;
  left: 200px;
}

.signin-button {
  font-size: 40px;
  position: relative;
  left: 220px;
  width: 220px;
  text-align: center;
  transition: transform 1s, color 1s;
  position: relative;
  right: -100px;
}

.signin-button:hover {
  cursor: pointer;
  transform: perspective(50em) rotateY(40deg);
  color: grey;
}

.signup-button {
  font-size: 35px;
  width: 160px;
  position: relative;
  left: 120px;
  text-align: center;
  transition: transform 1s, color 1s;
}

.signup-button:hover {
  cursor: pointer;
  transform: perspective(50em) rotateY(40deg);
  color: grey;
}

.about-button {
  z-index: 100;
  position: absolute;
  width: 150px;
  left: 130px;
  top: 200px;
  font-size: 20px;
  transition: transform 1.2s, color 1.2s;
}

.about-button:hover {
  cursor: pointer;
  transform: perspective(50em) rotateY(40deg);
  color: grey;
}

.boxes {
  color: grey;
}

.logout {
  width: 300px;
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 35px;
  transition: transform 1.2s, color 1.2s;
}

.logout:hover {
  cursor: pointer;
  transform: perspective(50em) rotateY(40deg);
  color: grey;
}

.username {
  font-size: 20vw;
  opacity: .3;
  position: absolute;
  bottom: -100px;
  right: 30px;
}

.connect-soundcloud {
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 40px;
    font-size: 80px;
    -webkit-animation: pulse 3s ease infinite;
    -moz-animation: pulse 3s ease infinite;
    animation: pulse 3s ease infinite;
}

.connect-soundcloud:hover {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  color: grey;
}

input:focus {
    outline:none !important;
}

.music-note {
  position: absolute;
  z-index: -1;
  height: 130px;
  bottom: 30px;
  left: 480px;
}

video {
  width: 400px;
  position: absolute;
  top: 30px;
  left: 900px;
  z-index: -100;
  border-radius: 40px;
  border: 5px solid white;
  /*border-bottom: 5px solid white;
  border-left: 5px solid white;*/
}

#take-photo {
  background: url('/assets/camera.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /*border-radius: 24px;*/
  /*transition: background 1s;*/
}

#take-photo:hover {
  cursor: pointer;
  opacity: .7;
}
.overlay {
  /*border: 5px solid white;*/
  z-index: 100;
  position:absolute;
  left: 805px;
  top: 257px;
  width: 80px;
  height: 80px;
  /*border-radius: 30px;*/
  /*background-color: grey;*/
}

.emotion {
  font-size: 50px;
  color: white;
  position: absolute;
  left: 20px;
  top: 275px;
}

.filler {
  position: absolute;
  top: 350px;
  width: 100%;
  height: 300px;
}

.spinner {
  position: absolute;
  top: 13px;
  left: 595px;
  width: 100px;
  height: 100px;
  margin: 100px auto;
  background-color: white;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.errors {
  height: 40px;
  width: 100%;
  line-height: 20px;
}

.errors *{
  display: inline-block;
  margin-top: 13px;
  margin-right: 20px;
}

a{
  color: white;
  position: absolute;
  left: 100px;
  top: 250px;
  font-size: 30px;
  transition: transform 1.2s, color 1.2s;
}

a:hover {
  cursor: pointer;
  transform: perspective(50em) rotateY(40deg);
  color: grey;
  text-decoration: none;
}

.last-picture {
  position: absolute;
  left: 800px;
  width: 200px;
  border: 3px solid white;
  border-radius: 20px;
}
