<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,200,100,200italic,100italic,300italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield %>

</body>
</html>
